name: "Terraform RDS Instance Launch"

on:
  workflow_dispatch:
    inputs:
      environment:
        description: "Environment (e.g. dev, test, stage, prod)"
        required: true
        type: choice
        options:
          - dev
          - test
          - stage
          - prod
      action:
        description: "Terraform command to run"
        required: true
        type: choice
        options:
          - plan
          - apply
          - destroy
#      db_instance_class:
#        description: "RDS instance class"
#        required: true
#        default: "db.t3.micro"
#      db_name:
#        description: "Database name"
#        required: true
#        default: "oracledb"
#      engine_version:
#        description: "Oracle engine version"
#        required: true
#        default: "19.0.0.0.ru-2024-01.rur-2024-01.r1"
#      allocated_storage:
#        description: "Storage in GB"
#        required: true
#        default: "20"

permissions:
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      TF_VAR_environment: ${{ github.event.inputs.environment }}
      TF_VAR_db_instance_class: ${{ github.event.inputs.db_instance_class }}
      TF_VAR_db_name: ${{ github.event.inputs.db_name }}
      TF_VAR_engine_version: ${{ github.event.inputs.engine_version }}
      TF_VAR_allocated_storage: ${{ github.event.inputs.allocated_storage }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.9.8

      - name: Terraform Init
        run: terraform init -reconfigure

      - name: Terraform Plan
        if: ${{ github.event.inputs.action == 'plan' }}
        run: terraform plan

      - name: Terraform Apply
        if: ${{ github.event.inputs.action == 'apply' }}
        run: terraform apply -auto-approve

      - name: Terraform Destroy
        if: ${{ github.event.inputs.action == 'destroy' }}
        run: terraform destroy -auto-approve
